<!--<h1 class="display-4 text-center mt-2">Usuarios</h1>
<div class="mt-4">
    <div id="userCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">               
            <li *ngFor="let fragmento of itemsFragmentados; let in = index" [class.active]="in === 0" data-bs-target="#userCarousel" [attr.data-bs-slide-to]="in"></li>                       
        </div>
        
        <div class="container">        
            <div class="carousel-inner">
                <ng-container *ngFor="let fragmento of itemsFragmentados; let i = index">
                    <div class="carousel-item" [class.active]="i === 0">                        
                        <div class="row" style="padding-left: 10px; padding-right: 10px;">
                            <div class="col-4 mt-3 mb-3" *ngFor="let usuario of fragmento">
                                <div class="card card-hover" (click)="verUsuario(usuario.dni_ruc)">
                                    <img [src]="usuario.imagen || 'https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg'" class="card-img-top img-center">
                                    <div class="card-body">
                                        <h5 class="card-title">{{usuario.nombre}}</h5>                            
                                        <p class="card-text"><b><i>DNI/RUC </i></b>{{usuario.dni_ruc}}</p>
                                        <p class="card-text"><b><i>Celular </i></b>{{usuario.celular}}</p>                         
                                    </div>
                                </div>
                            </div>                
                        </div>                                              
                    </div>
                </ng-container>         
            </div>        
        </div>

        <button class="carousel-control-prev carousel-button" type="button" data-bs-target="#userCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-button" type="button" data-bs-target="#userCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>-->

<!--Categories-->
<h1 class="display-4 text-center mt-2 rubik-mono-one-regular">Categorías</h1>
<div class="mt-4">
    <div id="categoryCarouselLarge" class="carousel slide d-none d-md-none d-lg-block ">
        <!-- For more than four categories-->
        <div class="carousel-indicators">
            <li *ngFor="let chunk of largeScreenList; let in = index" [class.active]="in === 0" data-bs-target="#largeScreenList" [attr.data-bs-slide-to]="in"></li>
        </div>
        
        <div class="carousel-inner">
            <ng-container *ngFor="let chunk of largeScreenList; let i = index">
                <div class="carousel-item" [class.active]="i === 0">                 
                    <div class="row row-cols-lg-4">
                        <div class="col" *ngFor="let c of chunk">
                            <div class="card-category" (click)="irCategoria(c?.nombre)">
                                <img [src]="c?.urlImagen || 'https://via.placeholder.com/220x220'" class="category-img">
                                
                                <div class="card-category-body">
                                    <p>{{c?.nombre}}</p>                     
                                </div>
                            </div>                    
                        </div>                
                    </div>                                              
                </div>
            </ng-container>         
        </div>        
        
        <!-- For more than four categories-->
        <button class="carousel-control-prev carousel-button" type="button" data-bs-target="#categoryCarouselLarge" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-button" type="button" data-bs-target="#categoryCarouselLarge" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div id="categoryCarouselSmall" class="carousel slide d-block d-md-block d-lg-none">        
        <div class="carousel-indicators">
            <li *ngFor="let chunk of smallScreenList; let in = index" [class.active]="in === 0" data-bs-target="#largeScreenList" [attr.data-bs-slide-to]="in"></li>
        </div>

        <div class="carousel-inner">
            <ng-container *ngFor="let chunk of smallScreenList; let i = index">
                <div class="carousel-item" [class.active]="i === 0">                        
                    <div class="row row-cols-2 row-cols-md-2">
                        <div class="col" *ngFor="let c of chunk">
                            <div class="card-category" (click)="irCategoria(c?.nombre)">
                                <img [src]="c?.urlImagen || 'https://via.placeholder.com/220x220'" class="category-img">
                                
                                <div class="card-category-body">
                                    <p>{{c?.nombre}}</p>                     
                                </div>
                            </div>                    
                        </div>                   
                    </div>                                              
                </div>
            </ng-container>         
        </div>

        <button class="carousel-control-prev carousel-button" type="button" data-bs-target="#categoryCarouselSmall" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-button" type="button" data-bs-target="#categoryCarouselSmall" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<h1 class="display-4 text-center mt-5 rubik-mono-one-small">¡Disponible ahora!</h1>
<div class="container mt-4">
    <div class="row">           
        <div class="col-md-2">            
            <!--Filtros-->
            <select class="form-select" name="category" id="category" [(ngModel)]="categoriaFiltro" (change)="filtrarProductos()">
                <option value="Categoria" disabled selected>Elige un Categoria...</option>
                <option value="Todos">Todos</option>
                <option *ngFor="let c of dato_servicio?.categorias()" [ngValue]="c?.nombre">{{c?.nombre}}</option>
            </select>
            <div>Menos de: </div>
            <input class="form-control" type="number"[(ngModel)]="precioFiltro" (change)="filtrarProductos()">
            <!---->
        
            <!--orden-->
            <div>Ordenar</div>
            <select class="form-select" name="category" id="category" [(ngModel)]="orden" (change)="ordenarProductos()">
                <option value="Categoria" disabled selected>Elige un Categoria...</option>
                <option value="Ninguna">Ninguna</option>
                <option value="Precio">Precio</option>
                <option value="Nombre">Nombre</option>
            </select>
            <!---->
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col" *ngFor="let producto of productos">
                    <div class="card">
                        <div class="zoom-in" (click)="verProducto(producto.nombre, producto.codigo_productor)">
                            <img [src]="producto.imagen || 'https://www.ludlowjute.com/wp-content/uploads/2023/12/Jute_Reusable.jpg'" class="card-img-top img-center img-fluid">
                            
                            <div class="product-discount" *ngIf="producto.descuento !== '0'">
                                <h6 class="m-0 product-discount-number">-{{producto.descuento}}%</h6>
                            </div>                    
                        </div>                
                                    
                        <div class="product-category img-border">
                            <h6 class="m-0">{{producto.categoria}}</h6>
                        </div>          
                    
                        <div class="card-body mb-1">
                            <h5 class="card-title long-text">{{producto.nombre}}</h5>                                    
                            <div class="row row-cols-2 row-cols-md-2 row-cols-lg-2">
                                <div class="col-3">
                                    <button class="btn btn-primary cart-button" title="Agregar al carrito" *ngIf="usuarioIngreso()" (click)="agregarCarrito(producto)">                           
                                        <img class="white-image" src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Sale-Stickers-PNG/Shopping_Cart_Icon_PNG_Clipart.png?m=1629833029">                                                                                      
                                    </button>
                                </div>

                                <div class="col-9">                            
                                    <p class="card-text text-end product-price-number" *ngIf="producto.descuento === '0'">S/. {{producto.precio*(100-producto.descuento)/100}}</p>
                                    <p class="card-text text-end product-price-number-blue" *ngIf="producto.descuento !== '0'">S/. {{producto.precio*(100-producto.descuento)/100}}</p>   
                                </div>

                                <div class="product-discounted" *ngIf="producto.descuento !== '0'">
                                    <p class="card-text text-end product-price-discounted">S/. {{producto.precio}}</p>      
                                </div>
                            </div>                            
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



