<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="mb-4">Log in</h1>
                    <form>
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="Correo" name="email" id="email" [(ngModel)]="correo">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" placeholder="Contraseña" name="password" id="password" [(ngModel)]="clave">
                        </div>

                        <div class="d-grid mb-3">
                            <button class="btn btn-dark btn-lg" type="button" (click)="ingresar()">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div>Correo</div>
<div><input type="text" [(ngModel)]="correo"></div>
<div>Contraseña</div>
<div><input type="password" [(ngModel)]="clave"></div>
<button (click)="ingresar()">Ingresar</button>-->
